.comments__page {
  margin: 10px 5%;
  text-align: center;
  &-comments {
    height: 300px;
    overflow: auto;
  }
  &-image {
    height: 100%;
    width: 100%;
    &-div {
      width: 20%;
      height: 100px;
    }
  }
}
.new__comments {
  z-index: 1;
  width: 100%;
  background-color: #6d9dc5;
  margin: 15px 0;
  border-radius: 5px;

  &-text {
    color: #d9f0ff;
  }
  &-input {
    width: 100%;
    height: 100px;
    background-color: #6d9dc5;
    border-radius: 5px;
    color: #fff;
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);

    &-name {
      width: 100%;
      height: 50px;
      background-color: #6d9dc5;
      color: #fff;
      border-radius: 5px;
      box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
    }
  }
  &-heading-small {
    color: #fff;
  }

  &-page-heading-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-button {
    width: 66%;
    height: 30px;
    background-color: #6d9dc5;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    &-div {
      display: flex;
      justify-content: center;
    }
  }
  &-small-div {
    // display: flex;
  }
  &-name {
    margin: 0;
    color: #fff;
  }
  &-date {
    margin: 0;
  }
  &-button-small {
    width: 20%;
    background-color: #6d9dc5;
    border-radius: 10px;
    color: #fff;
  }
}
@include medium {
  .comments__page {
    width: 50%;
    margin: 0;
    &-comments {
      width: 75%;
      margin-left: 5%;
      height: 235px;
    }
  }
  .new__comments {
    width: 100%;

    &-input {
      width: 100%;
      height: 95px;

      &-name {
        width: 100%;
        height: 45px;
      }
    }
    &-form {
      width: 75%;
      margin-left: 5%;
    }
    &-button {
      width: 30%;
      height: 25px;
      margin-left: 5%;
      &-div {
        display: flex;
        justify-content: flex-start;
      }
    }
    &-page-heading {
      &-div {
        display: flex;
        justify-content: center;
      }
    }
    &-heading {
      &-small {
      }
    }
  }
}
