.map {
  width: 90%;
  height: 100%;
  border-radius: 20px;
  &__main {
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@include medium {
  .map {
    width: 100%;
    height: 70%;

    &__main {
      margin: 10px 5%;
      width: 50%;
      height: 400px;
    }
  }
}
