.map {
  width: 90%;
  height: 100%;
  border-radius: 20px;
  &__main {
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@include medium {
  .map {
    width: 60%;
    height: 70%;
  }
}
