.main-flex {
  display: inline-block;
  width: 100vw;
}
.main__maps {
  height: 200px;
  width: 100%;
  margin: 40px 0;

  text-align: center;
  &-image {
    width: 90%;
    height: 100%;
  }
}
.map {
  &__main {
    width: 100px;
    height: 100px;
    z-index: 2;
    &-marathon {
      width: 100px;
      height: 100px;
      z-index: 2;
    }
    &-five {
      width: 100px;
      height: 100px;
      z-index: 2;
    }
  }
}

@include medium {
  .main-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .main-flex-top {
    display: flex;
    flex-wrap: wrap;
  }
  .main__maps {
    height: 300px;
    width: 31%;
    text-align: center;
    margin: 16px;
    margin-bottom: 94px;

    &-top {
      width: 50%;
    }
    &-image {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  .main__maps-active {
    position: relative;
    right: 259px;
    top: 76px;
  }
}
.map {
  &__main {
    width: 900px;
    height: 900px;
    position: relative;
    bottom: 90px;
    right: 527px;
    z-index: 2;
    &-marathon {
      width: 900px;
      height: 900px;
      position: relative;
      bottom: 90px;
      right: 15px;
      z-index: 2;
    }
    &-five {
      width: 900px;
      height: 900px;
      position: relative;
      bottom: 55px;
      right: 1041px;
      z-index: 2;
    }
  }
}
