.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 200px;
  background-color: $sprintBeige;

  &__social {
    &-icons {
      width: 20%;
      height: 30px;
    }
    &-div {
      display: flex;
      height: 50px;
      width: 30%;
    }
    &-heading {
      color: $sprintOrange;
    }
  }
}
