.navBar {
  z-index: 3;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100vw;
  height: 80px;
  background-color: $sprintBlue;

  &__heading {
    color: $sprintRed;
    margin-left: 5%;
  }
}

@include large {
  .navBar {
    height: 60px;
    margin: unset;
    &__heading {
    }
  }
}
