.navBar {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  width: 100vw;
  height: 80px;
  background-color: #3066be;

  &__heading {
    color: #aeecef;
  }
}
