.navBar {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 80px;
  background-color: #fff;
  &__button {
    background-color: #8c92ac;
    width: 90%;
    height: 50px;
    border-radius: 10px;
  }
}
