.races {
  text-align: center;
  background-color: sprintBeige;
  color: $sprintBeige;
  margin: 10px;
  border-radius: 5px;
  margin: 0 5%;

  &__main {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-left: 7.5%;
    height: 300px;
    overflow: auto;
    background-color: $sprintLightGreen;
    border-radius: 15px;
    &-logo {
      width: 100%;
      height: 100px;
    }
  }
  &__search {
    margin: 0px 12%;

    &-input {
      width: 79%;

      &:hover {
        border: 3px solid $sprintOrange;
      }
    }
  }
  &__main-heading {
    color: $sprintBeige;
    text-align: center;
  }
}
@include medium {
  .races {
    text-align: center;
    background-color: sprintBeige;
    margin: 10px;
    border-radius: 5px;
    &-main {
      width: 40%;
    }

    &__main {
      display: flex;
      flex-direction: column;
      margin: 0;
      height: 453px;
      overflow: auto;
      &-heading {
        text-align: left;
        margin-left: 19%;
      }
    }
  }
}
