.running__page {
  margin: 10px 5%;
  border-radius: 10px;
  background-color: $sprintBlue;
  border: 1px solid $sprintBlack;
  text-align: center;
  transition: all 0.5s, ease 0s, linear 0.5s;

  &:hover {
    background: none;
    padding: 10px 10px;
    border: 2px solid $sprintBlack;
    background-color: $sprintRed;
  }
  &-heading {
    color: $sprintWhite;
    margin: 0;
  }
}
.new__routes-comments {
  width: 100%;
  margin: 15px 0;
  border-radius: 5px;
  background-color: $sprintWhite;
  &-input {
    width: 100%;
    height: 40px;
    background-color: $sprintWhite;
    border-radius: 5px;

    &-name {
      width: 100%;
      height: 40px;
      background-color: $sprintWhite;
      border-radius: 5px;
    }
  }
  &-div {
    overflow: auto;
    height: 300px;
  }
  &-page-heading-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-button {
    width: 66%;
    height: 30px;
    background-color: $sprintRed;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    &-div {
      display: flex;
      justify-content: center;
    }
  }
  &-small-div {
    display: flex;
  }
  &-name {
    margin: 0;
    margin-right: 10%;
  }
  &-date {
    margin: 0;
    margin-left: 9%;
  }
  &-button-small {
    width: 35%;
    height: 25px;
    background-color: $sprintRed;
    border-radius: 4px;
    color: $sprintBlack;
    border: 1px solid;
    box-shadow: 1px 1px;
    margin-bottom: 8px;
  }
}
@include medium {
  .running__page {
    margin: unset;
    text-align: center;
    transition: all 0.5s, ease 0s, linear 0.5s;
    width: 32%;
    position: relative;
    bottom: 97px;
    left: 53%;

    &-heading {
      padding-top: 4px;
    }
  }
  .new__routes {
    width: 50%;
    border: none;
    &-input {
      width: 100%;
      height: 95px;

      &-name {
        width: 100%;
        height: 45px;
      }
    }
    &-button {
      width: 30%;
      height: 25px;
      margin-left: 5%;
      &-div {
        display: flex;
        justify-content: flex-start;
      }
    }
    &-page-heading {
      &-div {
        display: flex;
        justify-content: center;
      }
    }
    &-heading {
      &-small {
      }
    }
  }
}
@include large {
  .running__page {
    display: none;
  }
  .new__routes {
    width: 100%;
  }
}
