.running2__page {
  display: none;
}

@include large {
  .running2__page {
    display: unset;
    border-right: 2px solid gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 30px 0 0 35px;
    &__page-heading {
    }
  }

  .new2 {
    &__routes {
      &-comments {
        &-input {
          &-name {
          }
        }
      }
    }
  }
}
