.weatherPage {
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 136px;
  margin: 10px 5%;
  border-radius: 5px;
  background-color: $sprintWhite;
}
.weather__icons {
  width: 50%;
  &-div {
    height: 50px;
    width: 100px;
  }
}
@include medium {
  .weatherPage {
    margin: 0;
    margin-left: 5%;
  }
}
@include large {
  .weatherPage {
    width: 50%;
    margin: unset;
    width: 395px;
    height: unset;
    background: unset;
    display: unset;
  }
  .weather__container {
    display: inline-block;
    width: 50%;
  }
}
