@charset 'utf-8';

html,
body {
  margin: 0;
  font-family: AvenirReg, sans-serif;
  color: #323232;
  height: 100vh;
  box-sizing: border-box;
  background-color: #e7ecef;
  background: fixed;

  a {
    text-decoration: none;
    color: #323232;
  }
}
#root {
  background-color: #fcfcfc;
}

/* Enforces border-box for whole site */
*,
*:before,
*:after {
  box-sizing: inherit;
}
.front__page-div-One {
  height: 100px;
  width: 100px;
}

@import "./partials/breakpoints";
@import "./partials/colours";
@import "./partials/frontPage";
@import "./partials/runningRoutes";
@import "./partials/fitMap";
@import "./partials/nextRaces";
@import "./partials/navigationBar";
@import "./partials/frontPage";
@import "./partials/commentsPage";
@import "./partials/weatherPage";
@import "./partials/footer";
