html,
body {
  margin: 0;
  font-family: AvenirReg, sans-serif;
  color: #323232;
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html a,
body a {
  text-decoration: none;
  color: #323232;
}

body {
  background: url("../assets/jakub-kriz-3FFEdm8TOek-unsplash.jpg") no-repeat
    center center fixed;
  background-size: cover;
}

/* Enforces border-box for whole site */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* Media Query: Tablet */
/* Media Query: Desktop */
.running__page {
  margin: 10px 5%;
  background-color: #585858;
  border-radius: 10px;
}

.new__routes {
  width: 100%;
  background-color: #727272;
  border: 1px solid #da5353;
  margin: 15px 0;
  border-radius: 5px;
}

.new__routes-input {
  width: 100%;
  height: 100px;
  background-color: #727272;
  border-radius: 5px;
}

.new__routes-input-name {
  width: 100%;
  height: 50px;
  background-color: #727272;
  border-radius: 5px;
}

.new__routes-page-heading-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.new__routes-button {
  width: 66%;
  height: 30px;
  background-color: #da5353;
  color: #fff;
  border-radius: 5px;
  margin-top: 20px;
}

.new__routes-button-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.new__routes-small-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new__routes-name {
  height: 15px;
  margin: 0;
  margin-right: 10%;
}

.new__routes-date {
  height: 15px;
  margin: 0;
}

.new__routes-button-small {
  width: 20%;
  background-color: #da5353;
  border-radius: 10px;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .running__page {
    width: 70%;
    padding: 0 5%;
  }
  .new__routes {
    width: 100%;
    border: none;
  }
  .new__routes-input {
    width: 100%;
    height: 95px;
  }
  .new__routes-input-name {
    width: 100%;
    height: 45px;
  }
  .new__routes-button {
    width: 30%;
    height: 25px;
    margin-left: 5%;
  }
  .new__routes-button-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .new__routes-page-heading-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.map {
  width: 90%;
  height: 100%;
  border-radius: 20px;
}

.map__main {
  width: 100vw;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .map {
    width: 100%;
    height: 70%;
  }
  .map__main {
    margin: 10px 5%;
    width: 70%;
    height: 400px;
  }
}

.navBar {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  width: 100vw;
  height: 80px;
  background-color: #da5353;
}

.navBar__heading {
  margin-right: 5%;
}

.front__page {
  z-index: -1;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 2px;
  perspective: 2px;
  background-image: "./assets/unsplashRoad.jpg";
}

.front__page-div {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.front__page-div-One {
  background-image: "./assets/unsplashRoad.jpg";
}

@media only screen and (min-width: 768px) {
  .main-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-flex-side {
    width: 50%;
  }
}

.comments__page {
  margin: 10px 5%;
  background-color: #585858;
  border-radius: 10px;
}

.new__comments {
  width: 100%;
  height: 95px;
  background-color: #727272;
  border: 1px solid #da5353;
  margin: 15px 0;
  border-radius: 5px;
}

.new__comments-input {
  width: 100%;
  height: 100px;
  background-color: #727272;
  border-radius: 5px;
}

.new__comments-input-name {
  width: 100%;
  height: 50px;
  background-color: #727272;
  border-radius: 5px;
}

.new__comments-page-heading-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.new__comments-button {
  width: 66%;
  height: 30px;
  background-color: #da5353;
  color: #fff;
  border-radius: 5px;
  margin-top: 20px;
}

.new__comments-button-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.new__comments-small-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new__comments-name {
  height: 15px;
  margin: 0;
  margin-right: 10%;
}

.new__comments-date {
  height: 15px;
  margin: 0;
}

.new__comments-button-small {
  width: 20%;
  background-color: #da5353;
  border-radius: 10px;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .comments__page {
    width: 50%;
    padding: 0 5%;
  }
  .comments__page .new__comments {
    width: 100%;
    height: 95px;
  }
  .comments__page .new__comments-input {
    width: 100%;
    height: 95px;
  }
  .comments__page .new__comments-input-name {
    width: 100%;
    height: 45px;
  }
  .comments__page .new__comments-button {
    width: 30%;
    height: 25px;
    margin-left: 5%;
  }
  .comments__page .new__comments-button-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .comments__page .new__comments-page-heading-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.weatherPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 5%;
  width: 50%;
  border-radius: 5px;
  justify-content: space-around;
  background-color: #727272;
  border: 1px solid #da5353;
}
/*# sourceMappingURL=main.css.map */
