@charset 'utf-8';

html,
body {
  margin: 0;
  font-family: AvenirReg, sans-serif;
  color: #323232;
  height: 100vh;
  box-sizing: border-box;

  a {
    text-decoration: none;
    color: #323232;
  }
}
body {
  background: url("../assets/photos/cold-road.jpg") no-repeat center center
    fixed;
  background-size: cover;
}

/* Enforces border-box for whole site */
*,
*:before,
*:after {
  box-sizing: inherit;
}
.front__page-div-One {
  height: 100px;
  width: 100px;
}
.weatherPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px 5%;
  border-radius: 5px;
  background-color: #c9e7ff;
  box-shadow: 5px 10px;
  border: 1px solid rgb(218, 83, 83);
}
.error-message {
  background-color: rgb(114, 114, 114);
  border: 1px solid rgb(218, 83, 83);
}
.main-flex {
  display: flex;
  flex-wrap: wrap;
}

@import "./partials/breakpoints";
@import "./partials/frontPage";
@import "./partials/runningRoutes";
@import "./partials/fitMap";
@import "./partials/nextRaces";
@import "./partials/navigationBar";
@import "./partials/frontPage";
@import "./partials/commentsPage";
